---
layout: default
---

<div class="home">

  <h1 class="page-heading">Countdown to register vote for UK General Election 2017</h1>
  
  {{ content }}

  <p id="countdown" class="countdown"></p>

  <p class="center-buttons">
      <a class="btn btn-success" href="https://www.gov.uk/register-to-vote">Register To Vote Now!</a>
  </p>

  <p>
      <img src="{{ site.url }}/assets/feature_image_wide.png" alt="GYST"/>
  <p>

  <p class="center-buttons">
      <a class="btn  btn-success" href="https://join.labour.org.uk/">Join the Labour Party</a>
  </p>

</div>

<script type="text/javascript" src="{{ site.url }}/assets/countdown.js"></script>
